.header {
  display: flex;
  padding: 24px 15px 25px 15px;
  box-sizing: border-box;
  align-items: center;
}
.header__background {
  border-bottom: 1px solid var(--border-header);
  background-color: var(--white);
  height: 80px;
  box-sizing: border-box;
}
.header__wrapper {
  width: 932px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}